:root {
  --primary-color: #ccc;
  --secondary-color: #ddd;
  --dark: rgba(85, 139, 187, 0.9);
  --white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: arial, sans-serif;
}

h1 {
  text-shadow: 1px 2px 2px #1c6ea4;
}

h2 {
  color: rgb(0, 0, 0);
  text-shadow: rgb(122, 122, 122) 4px 3px 0;
}

table {
  font-family: inherit;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  -webkit-box-shadow: 5px 5px 15px 5px #000;
  box-shadow: 5px 5px 15px 5px #000;
}

.table-title {
  display: flex;
  justify-content: space-between;
}

td,
th {
  border: 1px solid var(--primary-color);
  padding: 8px;
}

th {
  font-weight: bold;
  text-transform: uppercase;
}

tr:nth-child(even) {
  background-color: var(--secondary-color);
}

tr:hover {
  background-color: var(--dark);
  color: var(--white);
}

.btn {
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 16px;
  padding: 6px;
  border-radius: 10px;
  font-family: Georgia, serif;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  background-image:
    linear-gradient(
      to right,
      rgb(28, 110, 164) 0%,
      rgb(35, 136, 203) 50%,
      rgb(20, 78, 117) 100%
    );
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
  border: 2px solid rgb(28, 110, 164);
  display: inline-block;
}

.btn:hover {
  background: #1c6ea4;
}

.btn:active {
  background: #144e75;
}

#btn-submit {
  float: right !important;
}
